@import "tailwindcss";

:root {
  --background: #F8F9FA;
  /* Off-White */
  --foreground: #36454F;
  /* Charcoal */
  --primary: #4682B4;
  /* Steel Blue */
  --secondary: #546E7A;
  --accent: #36454F;
  /* Charcoal Accent */
  --muted: #eceff1;
  --muted-foreground: #607d8b;
  --card: #ffffff;
  --card-foreground: #36454F;
  --border: #cfd8dc;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-accent: var(--accent);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-border: var(--border);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans), sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
  scroll-padding-top: 100px;
}

@layer utilities {
  .bg-grid-pattern {
    background-image: radial-gradient(#90A4AE 1px, transparent 1px);
    background-size: 32px 32px;
  }
}